n8n-projects/Telegram-personal-assistant/Telegram Personal Assistant.json
{
  "name": "Telegram Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        160
      ],
      "id": "47ac22c5-eded-405b-84d0-6bf844fb37bd",
      "name": "Telegram Trigger",
      "webhookId": "8b568522-5f00-4db7-9c05-6315573f975a",
      "credentials": {
        "telegramApi": {
          "id": "leiue5bADz4vxN0h",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a helpful assistant who can help in below things.\n\n1. Calendar - You can create or get events ( many events as well ) by using the tool provided. Make sure that you give a proper name and description to the event when creating it.\n\n2. Tasks - You can create or get tasks ( many tasks as well ) by using the tool provided. Provide the due date in timestamp/ISO format example 2025-08-23T04:57:29.425Z.  \n\n3. Research Assistant - You will have to determine which query user want to get latest results, call the tavily tool provided and summarize and return the same.\n\n\nYou always call one of the tool when given a request. If there is any other request, please say 'Request Invalid'.\n\nThe date today is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        48
      ],
      "id": "5dbc7b71-d958-46b0-b882-a8f564050571",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        528
      ],
      "id": "daa0851d-3d57-44c4-a631-8268ebaf42e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "f4P3iAcLmBqJnUHZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        528
      ],
      "id": "cc4e4119-29ee-4fd7-81e1-3f969fda11ba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        48
      ],
      "id": "e13b4411-0c8c-4f2d-bcb4-24bfbc32565a",
      "name": "Send a text message",
      "webhookId": "13e0cd63-e593-4540-81c2-0f45f610e1c1",
      "credentials": {
        "telegramApi": {
          "id": "leiue5bADz4vxN0h",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dacandid.prat@gmail.com",
          "mode": "list",
          "cachedResultName": "dacandid.prat@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1328,
        608
      ],
      "id": "73488751-5a35-4ec7-8a65-330cec60d3a5",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QB4tJHo5ceAS7K87",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mailtomayankaggarwal@gmail.com",
          "mode": "list",
          "cachedResultName": "mailtomayankaggarwal@gmail.com"
        },
        "returnAll": "={{ false }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1520,
        608
      ],
      "id": "5e7d1eb6-4ad6-4749-9a38-568925ca4b68",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QB4tJHo5ceAS7K87",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a task in Google Tasks. ",
        "task": "MDkyNzI1NDc1NzMzMDU2MTI4NjM6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}",
          "status": "needsAction"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1680,
        608
      ],
      "id": "9f09c670-2184-476c-b6a1-82d84e38d544",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "rULaKXVWXKWZSxPG",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDkyNzI1NDc1NzMzMDU2MTI4NjM6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1840,
        608
      ],
      "id": "75636738-a0f6-4b4e-85aa-52eafb75cba4",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "rULaKXVWXKWZSxPG",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1152,
        608
      ],
      "id": "5254ab76-eb72-40a7-8bf8-d7764a198921",
      "name": "Tavily Tool",
      "credentials": {
        "tavilyApi": {
          "id": "HI1f8gqERAdsk0X6",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tools\n",
        "height": 240,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        544
      ],
      "typeVersion": 1,
      "id": "2ee85bbc-f1ee-4c2f-b074-9f8a4c73b678",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Telegram Message Triger\n",
        "height": 224,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        96
      ],
      "typeVersion": 1,
      "id": "56c59527-11b6-4e31-93ec-138989b60e3b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2c1fd5e0-e968-4f10-b6c1-37b47e27e6c9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VOICE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f56dc4f4-8f61-4a3d-81e9-c7a87ba33f2e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -208,
        160
      ],
      "id": "5a175c1d-97cf-4ae1-9d0e-4cf5c56cbe98",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6c37dfcb-5a38-474d-9c15-10196434f407",
      "name": "Get a file",
      "webhookId": "22d714f6-62b5-4d94-8250-29dbdd6a671d",
      "credentials": {
        "telegramApi": {
          "id": "leiue5bADz4vxN0h",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        0
      ],
      "id": "1a4d4ad0-8f53-4ab7-a764-4466cc5cf6d0",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "tPg0hFsp8XG644Pk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00c3e3a5-9587-4f3b-8305-01f76aabc341",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "c895a614-0417-4029-aeff-91d3fd909308",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7caafbf0-a0b6-4713-83ae-5cfc307276e7",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        320
      ],
      "id": "61c42278-fddb-4729-a6bc-4d364be3479b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "Happy to Help you",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1872,
        48
      ],
      "id": "1f61b961-08ad-4c3b-a96f-2f3b9d4e6155",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "tPg0hFsp8XG644Pk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        48
      ],
      "id": "abf95618-0000-40c7-a98e-170a834d375f",
      "name": "Send an audio file",
      "webhookId": "4b6232fe-05e6-4b87-bc1b-edf51126625b",
      "credentials": {
        "telegramApi": {
          "id": "leiue5bADz4vxN0h",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b73ef73-1fc7-4bbb-82eb-4831412ee345",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41e188bf8abfd984838c7fdfcdd8340d00748f8edb06f87b7f174ad3188e8da1"
  },
  "id": "2gTGx7EL8keqcJb4",
  "tags": []
}